@charset "utf-8";
	/*
		Vietnam's Café Blog
		
		Author: Nguyen Vu Hoang Anh & Uyen.N.P Pham
		
		Filename:vcb_styles.css
	*/

html{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

body{
	width: 100%;
}

/**Navigation Bar Style**/
header nav{
	width: 100%;
	background-color: black;
	overflow:hidden;
}

.headerNavigationBar{
	list-style-type: none;
	float:right;
	margin-top: 3%;
	display: block;

}

.headerNavigationBar li{
	display: inline-block;
	font-size: 20px;
	padding-left: 5px;
	padding-right: 100px;
}

.headerNavigationBar li a{
	text-decoration: none;
	padding: 20px 5px;
	text-align: center;
	color: white;
	display: block;
	font-weight: bold;
}

.headerNavigationBar li a:hover{
	color: rgb(181, 184, 136) ;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: thick;

}

.header_logo{
	float: left;
	background-color: black;
	cursor: pointer;
	padding: 5px;
}



/**Footer**/
/**Navigation Bar Style**/
footer nav{
	width: 100%;
	background-color: black;
	overflow:hidden;
}

.footerNavigationBar{
	list-style-type: none;
	float:right;
	margin-top: 3%;
	display: block;

}

.footerNavigationBar li{
	display: inline-block;
	font-size: 20px;
	padding-left: 60px;
	padding-right: 30px;
}

.footerNavigationBar li a{
	text-decoration: none;
	padding: 20px 10px;
	text-align: center;
	color: white;
	display: block;
}

.footerNavigationBar li a:hover{
	color: rgb(181, 184, 136) ;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: thick;

}

.footer_logo{
	width: 10%;
	float: left;
	background-color: black;
	cursor: pointer;
}

footer::after{

	content: "";
	clear: both;
	display: table;
}