@charset "utf-8";
	/*
		Vietnam's Café Blog
		
		Author: Nguyen Vu Hoang Anh & Uyen.N.P Pham
		
		Filename:vcb_styles.css
	*/

html{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #111111;
	background-color: #fffcfc;
}


/**Navigation Bar Style**/
header nav{
	width: 100%;
	background-color: black;
	overflow:hidden;
}

.headerNavigationBar{
	position:absolute;
	left:50%;top:0;
	margin-left:-370px; 
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	width:1000px;
	list-style:none;
	list-style-type: none;
	float:right;
	display: block;

}

.headerNavigationBar>li{

	display: inline-block;
	font-size: 1.30rem;
	
	padding-left: 5px;
	padding-right:50px;
}

.headerNavigationBar>li>a{
	text-decoration: none;
	padding: 12px 2px;
	text-align: center;
	color: white;
	display: block;
	font-weight: bold;
}

.headerNavigationBar>li>a:hover{
	color: rgb(181, 184, 136) ;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: thick;

}



/*Chrome 79+*/
@supports (not (-webkit-hyphens:none)) and (not (-moz-appearance:none)) and (list-style-type:"*") { 
.headerNavigationBar{
	position:absolute;
	margin-left:-385px; 

}

.headerNavigationBar>li{
	font-size: 1.05rem;
}
} 


/*Drop-down menu Styles for Drink Sugesstions*/
.submenu {
  margin-top: 2px;
  display: none;
  position: absolute;
  background-color: #000;
  opacity: 0.8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.submenu>a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: bold;
}

.submenu>a:hover {
  background-color: #f7f4f1;
  opacity:0.7;
  color: black;
}

#drop-down:hover .submenu{
	display:block;
}

.header_logo {
	padding: 15px;
	width: 8%;
	float: left;
	background-color: black;
	cursor: pointer;
}
.menu_btn{
	display: none;
}
/*Apply for large laptops and desktop*/
@media only screen  and (min-width: 1600px){
.headerNavigationBar {
	list-style-type: none;
	float:right;
	margin-top: 3.5%;
	margin-right: 15%;
}
.headerNavigationBar>li{
	display: inline-block;
	font-size: 1.4rem;
	padding-right: 100px;
}

.header_logo{
	padding: 15px;
	width: 10%;
	float: left;
	background-color: black;
	cursor: pointer;
}

}
	

/**Footer**/
/**Navigation Bar Style**/
footer nav{
	width: 100%;
	background-color: black;
	overflow:hidden;
}

.footerNavigationBar{
	list-style-type: none;
	float:right;
	margin-top: 2%;
	display: block;

}

.footerNavigationBar li{
	display: inline-block;
	font-size: 20px;
	padding-left: 60px;
	padding-right: 30px;
}

.footerNavigationBar li a{
	text-decoration: none;
	padding: 20px 10px;
	text-align: center;
	color: white;
	display: block;
}

.footerNavigationBar li a:hover{
	color: rgb(181, 184, 136) ;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: thick;

}

.footer_logo{
	padding: 15px;
	width: 8%;
	float: left;
	background-color: black;
	cursor: pointer;
}

/*Apply for large laptops and desktop*/
@media only screen  and (min-width: 1600px){
.footerNavigationBar li{
	display: inline-block;
	font-size: 25px;
	padding-left: 60px;
	padding-right: 50px;
}

}

footer::after{

	content: "";
	clear: both;
	display: table;
}


