@charset "utf-8";
/*
		Vietnam's Café Blog
		
		Author: Nguyen Vu Hoang Anh & Uyen.N.P Pham
		
		Filename:vcb_non_coffee_styles.css
	*/

html{
	background-color: rgba(90, 44, 8, 0.8) !important;
}
/*Heading Styles*/
body>h1{
	color: #fbd2a7;
	font-size: 8vw;
	font-weight: 700;
	margin: 5% 0 0 12%;
	text-shadow: 10px 20px 30px black;
}


/*Cards Styles*/
/*First Row*/
.white_chocolate, .chai_tea_latte{
	margin-top: 5%;
	margin-bottom: 10%;
}

/*White chocolate*/
.white_chocolate{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.white_chocolate:hover{
	transform: translateY(15px);
}


.white_chocolate:hover:before{
	opacity: 0.8;
}

.white_chocolate:hover .white_chocolate_contents{
	opacity: 1;
	transform: translateY(0);
}

.white_chocolate:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_white_chocolate{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.white_chocolate .white_chocolate_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.white_chocolate_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.white_chocolate_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

/*Chai tea latte*/
.chai_tea_latte{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.chai_tea_latte:hover{
	transform: translateY(15px);
}


.chai_tea_latte:hover:before{
	opacity: 0.8;
}

.chai_tea_latte:hover .chai_tea_latte_contents{
	opacity: 1;
	transform: translateY(0);
}

.chai_tea_latte:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_chai_tea_latte{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.chai_tea_latte .chai_tea_latte_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.chai_tea_latte_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.chai_tea_latte_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

.white_chocolate::after, .chai_tea_latte::after{
	clear: both;
	content: "";
	display: table;
}

/*Second Row*/
.matcha_latte, .avocado_smoothie{
	margin-top: 5%;
	margin-bottom: 10%;
}

/*Matcha Latte*/
.matcha_latte{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.matcha_latte:hover{
	transform: translateY(15px);
}


.matcha_latte:hover:before{
	opacity: 0.8;
}

.matcha_latte:hover .matcha_latte_contents{
	opacity: 1;
	transform: translateY(0);
}

.matcha_latte:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_matcha_latte{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.matcha_latte .matcha_latte_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.matcha_latte_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.matcha_latte_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

/*Avocado Smoothie*/
.avocado_smoothie{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.avocado_smoothie:hover{
	transform: translateY(15px);
}


.avocado_smoothie:hover:before{
	opacity: 0.8;
}

.avocado_smoothie:hover .avocado_smoothie_contents{
	opacity: 1;
	transform: translateY(0);
}

.avocado_smoothie:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_avocado_smoothie{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.avocado_smoothie .avocado_smoothie_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.avocado_smoothie_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.avocado_smoothie_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

.matcha_latte::after, .avocado_smoothie::after{
	clear: both;
	content: "";
	display: table;
}

/*Third Row*/
.orange_juice, .peach_green_tea{
	margin-top: 5%;
	margin-bottom: 10%;
}

/*orange_juice*/
.orange_juice{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.orange_juice:hover{
	transform: translateY(15px);
}


.orange_juice:hover:before{
	opacity: 0.8;
}

.orange_juice:hover .orange_juice_contents{
	opacity: 1;
	transform: translateY(0);
}

.orange_juice:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_orange_juice{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.orange_juice .orange_juice_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.orange_juice_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.orange_juice_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

/*peach_green_tea*/
.peach_green_tea{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.peach_green_tea:hover{
	transform: translateY(15px);
}


.peach_green_tea:hover:before{
	opacity: 0.8;
}

.peach_green_tea:hover .peach_green_tea_contents{
	opacity: 1;
	transform: translateY(0);
}

.peach_green_tea:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_peach_green_tea{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.peach_green_tea .peach_green_tea_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.peach_green_tea h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.peach_green_tea p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

.orange_juice::after, .peach_green_tea::after{
	clear: both;
	content: "";
	display: table;
}