@charset "utf-8";
	/*
		Vietnam's Café Blog
		
		Author: Nguyen Vu Hoang Anh & Uyen.N.P Pham
		
		Filename:vcb_home_styles.css
	*/

/**Header Style**/
.header h1{
	font-size: 60px;
	font-weight: 600;
	margin: 0;
	text-align: center;
}
#headerSlogan{
	font-size: 20px;
}

.header{
	background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(vcb_header.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size:  cover;
	background-size: cover;
	width: 100%;
	height: 50vh;
	display: -webkit-flex;
	display: -moz-flex;
	display:  -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;
	color: white;

}

/**Body Style**/
/**Hanoi**/
#hanoiImage, #hanoiIntro{
	float: left;
}
#hanoiImage{
	width: 44%;
	height: 400px;
	margin: 5% 0 0 6%;
}

#hanoiIntro{
	margin-left: 4%;
	padding-top: 10%;
	width: 40%;
	height: 350px;
	vertical-align: baseline;
	font-size: 25px;
	font-weight: normal;

}

#hanoiIntro h3 a{
	text-decoration: none;
	color: #5C3317;
}

.home_Hanoi::after{
	content: "";
	clear: both;
	display: table;
}
/*Apply for large laptops and desktop*/
@media only screen  and (min-width: 1600px){
#hanoiImage{
	width: 44%;
	height: 450px;
	margin: 5% 0 0 6%;
}
#hanoiIntro{
	font-size: 30px;
}
}
/**Saigon**/
#saigonImage, #saigonIntro{
	float: right;
	
}
#saigonImage{
	margin: 1% 6% 5% 0;
	width:43%;
	height:450px;
}


#saigonIntro{
	padding-top: 10%;
	padding-right: 3%;
	width: 42%;
	height: 350px;
	vertical-align: baseline;
	font-size: 25px;
	font-weight: normal;

}

#saigonIntro h3 a{
	text-decoration: none;
	color: #5C3317;
}

.home_Saigon::after{
	content: "";
	clear: both;
	display: table;
}
/*Apply for large laptops and desktop*/
@media only screen  and (min-width: 1600px){
#saigonImage{
	margin: 1% 6% 5% 0;
	width:43%;
	height:480px;
}
#saigonIntro{
	font-size: 30px;
}
}
/**Top10**/
#top10Image, #top10Intro{
	float: left;
}

#top10Image{
	margin-left: 5%;
	margin-right: 1%;
	width: 45%;
	height: 400;
}

#top10Intro{
	background-color: rgb(119, 80, 73);
	width: 43%;
	padding-left: 2%;
	padding-top: 8%;
	font-size: 25px;
	height: 486px;
	color: white;
}

#top10Intro h3 a{
	text-decoration: none;
	color: white;
}

.home_Top10::after{
	content: "";
	clear: both;
	display: table;
}

/**Drink Suggestions**/
#drinkSuggestionsImage{
	margin-top: 5%;
	margin-left: 5%;
	 width:89%;
	 height:450px;

}




#drinkSuggestionsTitle a{
	text-decoration: none;
	color: #5C3317;
}
#drinkSuggestionsIntro{
	margin-bottom: 15%;
}

#drinkSuggestionsIntro::after{
	content: "";
	clear: both;
	display: table;
}

/*Apply for large laptops and desktop*/
@media only screen  and (min-width: 1600px){
#drinkSuggestionsImage{
	margin-top: 5%;
	margin-left: 5%;
	width:89%;
	height:500px;

}

#drinkSuggestionsTitle, #drinkSuggestionsIntro{
	font-size: 25px;
	margin-top: 2%;
	margin-left: 5%;
}

}

/**Lastest Reviews**/
.home_LastestReviews{
	padding: 3% 0 3% 8%;
	margin-bottom: 10%;
	font-size: 25px;
	background-color: rgb(119, 80, 73);
	width: 100%;
	height: 50%;
	color: white;
}

.lastestReviewsIntro{
	text-align: center;
}

.lastestReviewsIntro h3{
	text-decoration: none;
	color: white;
	font-size: 40px;
}

 .lastestReviewsTitle p a{
 	text-decoration: none;
 	font-weight: 700;
 	color: white;
 	font-size: 28px;
 }
.lastestReviewsImage img{
	width: 30%;
	height: 450px;
	float: left;
	padding: 10px;
}

.lastestReviewsImage::after{
	content: "";
	clear: both;
	display: table;
}
.lastestReviewsTitle p{
	float: left;
}

.lastestReviewsTitle p:first-child{
	margin-left: 0.6%;
}

.lastestReviewsTitle p:nth-child(2), .lastestReviewsTitle p:last-child {
	margin-left: 17%;
} 
#lastestReviewsImage1:hover, #lastestReviewsImage2:hover, #lastestReviewsImage3:hover{
	opacity: 0.5;
}

.home_LastestReviews::after{
	content: "";
	clear: both;
	display: table;
}

/*Apply for large laptops and desktop*/
@media only screen  and (min-width: 1600px){

.home_LastestReviews{
	padding: 3% 0 3% 10%;
	margin-bottom: 10%;
	font-size: 25px;
	background-color: rgb(119, 80, 73);
	width: 100%;
	height: 50%;
	color: white;
}

.lastestReviewsImage img{
	width: 30%;
	height: 550px;
	float: left;
	padding: 15px;
}

.lastestReviewsTitle p:nth-child(2), .lastestReviewsTitle p:last-child {
	margin-left: 20%;
} 
}