@charset "utf-8";

	/*
		Vietnam's Café Blog
		
		Author: Nguyen Vu Hoang Anh & Uyen.N.P Pham
		
		Filename:vcb_drink_suggestions_styles.css
	*/



/*Coffee-based*/

.coffee_based{
	width: 100%;
	height: 100vh;
	background-color:#4d3200;
	display: flex;
	justify-content: center;
	align-items: center;
}

.coffee_based_images_slider{
	position: relative;
	width: 25vw;
	height: 60vh;
	margin: 5%;
	box-shadow: 0 10px 10px #000;
	background-image: url(COFFEE_BASED/vietnam_traditional_coffee.jpg);
	background-size: cover;
	background-position: center;
	animation: 25s slider infinite;
}

@keyframes slider{
	0%{
		background-image: url(COFFEE_BASED/vietnam_traditional_coffee.jpg);
		background-size: cover;
		background-position: center;
	}
	20%{
		background-image: url(COFFEE_BASED/egg_coffee.jpg);
		background-size: cover;
		background-position: center;
	}
	40%{
		background-image: url(COFFEE_BASED/mocha.jpg);
		background-size: cover;
		background-position: center;
	}
	60%{
		background-image: url(COFFEE_BASED/latte.jpg);
		background-size: cover;
		background-position: center;
	}
	80%{
		background-image: url(COFFEE_BASED/espresso.jpg);
		background-size: cover;
		background-position: center;
	}
	100%{
		background-image: url(COFFEE_BASED/cappuccino.jpg);
		background-size: cover;
		background-position: center;
	}
}


.coffee_based_text{
	width: 550px;
	max-width: 100%;
	padding: 0 10px;
	font-family: Roboto, sans-serif;
}

.coffee_based_content{
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.coffee_based_text h1{
	color: #fbd2a7;
	font-size: 1.75rem;
	margin-bottom: 1%;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
}


.coffee_based_text p{
	color: #d7d3cf;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 1px;
	margin-bottom: 5%;
}

.coffee_based_text p strong{
	color: #f0ece8;
	
}
.coffee_based_text button{
	background-color:#fbd2a7;
	color: black;
	border: 2px solid transparent;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 17px;
	font-weight: bold;
	font-family: Roboto, sans-serif;
}

.coffee_based_text button:hover{
	transform: scale(1.2);
	background-color: transparent;
	border: 2px solid #fbd2a7;
	color: #fbd2a7;
	transition: .4s;
	cursor: pointer;
}

/*Non-coffee*/

.non-coffee{
	width: 100%;
	height: 100vh;
	background-color:#4d3200;
	display: flex;
	justify-content: center;
	align-items: center;
}

.non-coffee_images_slider{
	position: relative;
	width: 25vw;
	height: 60vh;
	margin: 5%;
	box-shadow: 0 10px 10px #000;
	background-image: url(NON-COFFEE/white_chocolate.jpg);
	background-size: cover;
	background-position: center;
	animation: 25s movement infinite;
}

@keyframes movement{
	0%{
		background-image: url(NON-COFFEE/white_chocolate.jpg);
		background-size: cover;
		background-position: center;
	}
	20%{
		background-image: url(NON-COFFEE/chai_tea_latte.jpg);
		background-size: cover;
		background-position: center;
	}
	40%{
		background-image: url(NON-COFFEE/matcha-latte.jpg);
		background-size: cover;
		background-position: center;
	}
	60%{
		background-image: url(NON-COFFEE/avocado_smoothie.jpg);
		background-size: cover;
		background-position: center;
	}
	80%{
		background-image: url(NON-COFFEE/orange_juice.jpeg);
		background-size: cover;
		background-position: center;
	}
	100%{
		background-image: url(NON-COFFEED/peach_green_tea.jpg);
		background-size: cover;
		background-position: center;
	}
}


.non-coffee_text{
	width: 550px;
	max-width: 100%;
	padding: 0 10px;
	font-family: Roboto, sans-serif;
}

.non-coffee_content{
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.non-coffee_text h1{
	color: #fbd2a7;
	font-size: 1.75rem;
	margin-bottom: 1%;
	text-transform: uppercase;
}


.non-coffee_text p{
	color: #d7d3cf;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 1px;
	margin-bottom: 5%;	
}


.non-coffee_text button{
	background-color:#fbd2a7;
	color: black;
	border: 2px solid transparent;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 17px;
	font-weight: bold;
}

.non-coffee_text button:hover{
	transform: scale(1.2);
	background-color: transparent;
	border: 2px solid #fbd2a7;
	color: #fbd2a7;
	transition: .4s;
	cursor: pointer;
}