@charset "utf-8";

	/*
		Vietnam's Café Blog
		
		Author: Nguyen Vu Hoang Anh & Uyen.N.P Pham
		
		Filename:vcb_drink_suggestions_mobile_styles.css
	*/


body{
	background-color:rgba(90, 44, 8, 0.8) !important;
}
/*Coffee-based*/

.coffee_based{
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
}

.coffee_based_images_slider{
	position: relative;
	width: 50vw;
	height: 50vh;
	margin: 20% 10% 10% 10%;
	box-shadow: 0 10px 10px #000;
	background-image: url(COFFEE_BASED/vietnam_traditional_coffee.jpg);
	background-size: cover;
	background-position: center;
	animation: 25s slider infinite;
}

@keyframes slider{
	0%{
		background-image: url(COFFEE_BASED/vietnam_traditional_coffee.jpg);
		background-size: cover;
		background-position: center;
	}
	20%{
		background-image: url(COFFEE_BASED/egg_coffee.jpg);
		background-size: cover;
		background-position: center;
	}
	40%{
		background-image: url(COFFEE_BASED/mocha.jpg);
		background-size: cover;
		background-position: center;
	}
	60%{
		background-image: url(COFFEE_BASED/latte.jpg);
		background-size: cover;
		background-position: center;
	}
	80%{
		background-image: url(COFFEE_BASED/espresso.jpg);
		background-size: cover;
		background-position: center;
	}
	100%{
		background-image: url(COFFEE_BASED/cappuccino.jpg);
		background-size: cover;
		background-position: center;
	}
}


.coffee_based_text{
	width: 100vw;
	max-width: 100%;
	padding: 0 10px;
	align-items: center;
}

.coffee_based_content{
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.coffee_based_text h1{
	color: #fbd2a7;
	font-size: 6vw;
	text-align: center;
	margin-bottom: 20px;
	text-transform: capitalize;
}


.coffee_based_text p{
	color: #d7d3cf;
	font-size: 3vw;
	text-align: center;
	line-height: 40px;
	letter-spacing: 1px;
	margin-bottom: 45px;
}

.coffee_based_text p strong{
	color: #f0ece8;
	font-size: 2vw;
}
.coffee_based_text button{
	background-color:#fbd2a7;
	color: black;
	border: 2px solid transparent;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 2vw;
	font-weight: bold;
	margin-left: 34%;
}



/*Non-coffee*/

.non-coffee{
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 30%;
}

.non-coffee_images_slider{
	position: relative;
	width: 50vw;
	height: 50vh;
	margin: 30% 10% 10% 10%;
	box-shadow: 0 10px 10px #000;
	background-image: url(NON-COFFEE/white_chocolate.jpg);
	background-size: cover;
	background-position: center;
	animation: 25s movement infinite;
}

@keyframes movement{
	0%{
		background-image: url(NON-COFFEE/white_chocolate.jpg);
		background-size: cover;
		background-position: center;
	}
	20%{
		background-image: url(NON-COFFEE/chai_tea_latte.jpg);
		background-size: cover;
		background-position: center;
	}
	40%{
		background-image: url(NON-COFFEE/matcha-latte.jpg);
		background-size: cover;
		background-position: center;
	}
	60%{
		background-image: url(NON-COFFEE/avocado_smoothie.jpg);
		background-size: cover;
		background-position: center;
	}
	80%{
		background-image: url(NON-COFFEE/orange_juice.jpeg);
		background-size: cover;
		background-position: center;
	}
	100%{
		background-image: url(NON-COFFEE/peach_green_tea.jpg);
		background-size: cover;
		background-position: center;
	}
}


.non-coffee_text{
	width: 100vw;
	max-width: 100%;
	padding: 0 10px;
	align-items: center;
}

.non-coffee_content{
	width: 1280px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.non-coffee_text h1{
	color: #fbd2a7;
	font-size: 6vw;
	text-align: center;
	margin-bottom: 20px;
	text-transform: capitalize;
}


.non-coffee_text p{
	color: #d7d3cf;
	font-size: 3vw;
	text-align: center;
	line-height: 40px;
	letter-spacing: 1px;
	margin-bottom: 45px;
}


.non-coffee_text button{
	background-color:#fbd2a7;
	color: black;
	border: 2px solid transparent;
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 30px;
	font-size: 2vw;
	font-weight: bold;
	margin-left: 34%;
}

