@charset "utf-8";

/*
		Vietnam's Café Blog
		
		Author: Nguyen Vu Hoang Anh & Uyen.N.P Pham
		
		Filename:vcb_coffee_based_styles.css
	*/

html{
	background-color: rgba(90, 44, 8, 0.8) !important;
}
/*Heading Styles*/
body>h1{
	color: #fbd2a7;
	font-size: 8vw;
	font-weight: 700;
	margin: 5% 0 0 12%;
	text-shadow: 10px 20px 30px black;
}

/*First Row*/
.vietnam_traditional_coffee, .egg_coffee{
	margin-top: 5%;
	margin-bottom: 10%;
}

/*Vietnam Tradtional Coffee*/
.vietnam_traditional_coffee{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.vietnam_traditional_coffee:hover{
	transform: translateY(15px);
}


.vietnam_traditional_coffee:hover:before{
	opacity: 0.8;
}

.vietnam_traditional_coffee:hover .vietnam_traditional_coffee_contents{
	opacity: 1;
	transform: translateY(0);
}

.vietnam_traditional_coffee:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_vietnam_traditional_coffee{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.vietnam_traditional_coffee .vietnam_traditional_coffee_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.vietnam_traditional_coffee_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.vietnam_traditional_coffee_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

/*Egg Coffee*/
.egg_coffee{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.egg_coffee:hover{
	transform: translateY(15px);
}


.egg_coffee:hover:before{
	opacity: 0.8;
}

.egg_coffee:hover .egg_coffee_contents{
	opacity: 1;
	transform: translateY(0);
}

.egg_coffee:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_egg_coffee{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.egg_coffee .egg_coffee_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.egg_coffee_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.egg_coffee_contents p{
	letter-spacing: 1px;
	font-size: 20px;
	margin-top: 3vw;
}

.vietnam_traditional_coffee::after, .egg_coffee::after{
	clear: both;
	content: "";
	display: table;
}

/*Second Row*/
.mocha, .latte{
	margin-top: 5%;
	margin-bottom: 10%;
}

/*Mocha*/
.mocha{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.mocha:hover{
	transform: translateY(15px);
}


.mocha:hover:before{
	opacity: 0.8;
}

.mocha:hover .mocha_contents{
	opacity: 1;
	transform: translateY(0);
}

.mocha:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_mocha{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.mocha .mocha_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.mocha_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.mocha_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

/*Latte*/
.latte{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.latte:hover{
	transform: translateY(15px);
}


.latte:hover:before{
	opacity: 0.8;
}

.latte:hover .latte_contents{
	opacity: 1;
	transform: translateY(0);
}

.latte:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_latte{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.latte .latte_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.latte_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.latte_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

.mocha::after, .latte::after{
	clear: both;
	content: "";
	display: table;
}

/*Third Row*/
.espresso, .cappuccino{
	float: left;
	margin-top: 5%;
	margin-bottom: 10%;
}

/*espresso*/
.espresso{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.espresso:hover{
	transform: translateY(15px);
}


.espresso:hover:before{
	opacity: 0.8;
}

.espresso:hover .espresso_contents{
	opacity: 1;
	transform: translateY(0);
}

.espresso:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_espresso{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.espresso .espresso_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.espresso_contents h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.espresso_contents p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

/*cappuccino*/
.cappuccino{
	margin-left: 12%;
	margin-bottom: 10%;
	width: 60vw;
	height: 60vh;
	padding: 24px;
	background: #fff;
	position: relative;
	display: flex;
	transition: .6s ease-out;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.cappuccino:hover{
	transform: translateY(15px);
}


.cappuccino:hover:before{
	opacity: 0.8;
}

.cappuccino:hover .cappuccino_contents{
	opacity: 1;
	transform: translateY(0);
}

.cappuccino:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000,#000);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.imgBox_cappuccino{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	object-fit:cover;
}

.cappuccino .cappuccino_contents{
	position: relative;
	z-index: 3;
	color: #fff;
	opacity: 0;
	transform: translateY(100px);
	transition: 0.5s;
}

.cappuccino h2{
	margin: 0; 
	letter-spacing: 2px;
	color: white;
	font-size: 3vw;
}
.cappuccino p{
	letter-spacing: 1px;
	font-size: 3vw;
	margin-top: 8px;
}

.espresso::after, .cappuccino::after{
	clear: both;
	content: "";
	display: table;
}
